<header class="preview-header">
  <div class="button-group">
    <button type="button" {{action 'zoom'}}>Zoom</button>
  </div>

  <div class="button-group">
    {{!-- close button --}}
    <button {{action 'close'}} class="sbe-preview__btn sbe-preview__btn--close" type="button">X</button>
  </div>
</header>

<canvas resize></canvas>