<pre>
  Selected Tool: {{selectedTool}}
</pre>
<ul class="tools">
  <li><button {{action 'capture' 'comment'}}>Comment</button></li>
  <li><button {{action 'capture' '#smockin'}}>#smockin</button></li>
  <li><button {{action 'capture' 'fire'}}>🔥 Somebody stop me</button></li>
</ul>
<canvas></canvas>